 /* navBar*/
.BackNavItemHome{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 5%;
    color: white !important;
}
.BackNavItem{
    background-color: #3C4C8F;
    margin:5%;
    border-radius: 20px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: white !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.nav-link:hover{
  color: #1B0044 !important;
}
.BackNavItemHome:hover{
   color: #3C4C8F !important;
}

.TamanhoUl{
    width: 100% !important;
    justify-content: flex-end !important;
}

/* Futuro da empresa*/
.containerFuturoEmpresa{
    display: flex; 
     height: 561px;
    border-radius: 5px;
    background-color: #131C42;
    color: white;
   border-radius: 20px;
}
.FundoFuturoEmpresa{
    background-color: #3C4C8F;
    padding: 4%;
    
}
.bannerConfig{
    height: 561px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    
}
.ConteudoBannerFuturoEmpresa{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ConteudoBannerFuturoImagem{
    width: 50%;
}
.btn-position {
  margin-top: 10%;
  margin-left: 50%;
}
.ConteudoBannerFuturoEmpresaButton{
  border: none;
 width: 140px;
 height: 40px;
 border-radius: 6px;
 background-color: #3C4C8F;
 color: white;
 

}
.ConteudoBannerFuturoEmpresaButton:hover{
  box-shadow: 3px 3px 3px rgb(203, 202, 202);
}
.ConteudoBannerFuturoEmpresa h1{
  font-size: 1.8rem;
  margin-left: 5%;
}


/*Nossos Diferenciais */
.centralizaTitleCard{
    display: flex;
    justify-content: center;
    align-items: center;
}
.FundoTitleCard{  
   width:50%    
}
.titleCard{
    border-bottom: solid 1px blue;
    text-align: center;
}
.estiloCard{
    width: 15rem;
    border: solid 1px blue !important;
    margin: 3% !important;
    background-color: #131C42 !important;
    color: white;
    font-weight: bold;
    border-radius: 20px !important;
}
.containerCard{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    flex-wrap: wrap;
    
}
.CardImagem{
    padding: 10%;
}
.CorFundoBanner{
    background-color: #1B0044;
}
.card-body{
  display: flex !important;
  justify-content: center !important;
}
.btn-card{
  border: none;
  background-color: transparent;
  border: solid #3C4C8F 1px;
  border-radius: 5px;
  color: #ffff;
  width: 10rem;
  height: 3rem;
  margin-bottom: 10%;
  
}
.btn-card:hover{
  box-shadow: 5px 5px 5px #3C4C8F;
}


/* Quem somos */
.containerQuemSomos{
    border: solid 3px #4B5CA5;
    margin: 4%;
    display: flex;
    border-radius: 20px;
    padding: 2%;
}
.ContainerQuemSomosText{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.ContainerQuemSomosTextConteudoPrimario {
    margin: 10% 5% 20% 5%;
    
    
}
.ContainerQuemSomosTextConteudoSecundario{
    margin: 20% 5% 10% 5%;
}
.ContainerQuemSomosImagem{
    width: 50%;
}

/* <!--filtro equipe de sucesso-->*/

.project-box {
  margin-bottom: 30px;
}

#filter-btn-box {
  margin-bottom: 50px;
  text-align: center;
}

#portfolio-area .filter-btn {
  color: #444;
  border: none;
  border-bottom: 1px solid #3C4C8F;
  background-color: transparent;
  text-transform: none;
  margin: 0 15px;
  min-width: 100px;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}
.main-title{
  text-align: center;
  
}


#portfolio-area .filter-btn.active, #portfolio-area .filter-btn:hover {
  color: #FFF;
  background-color: #3C4C8F;
}
.portfoliotext{
  background-color: #3C4C8F;
  padding: 2%;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 5px black;
}


/*footer */
.main-title{
    color: #3C4C8F;
}
  #contact-area {
    text-align: center;
    background-color: rgb(237, 234, 249);

  }
  
  .contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #3C4C8F;
  }
  
  .contact-box i {
    color: #444;
    border: solid 1px #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-box p {
    font-size: 16px;
  }
  
  .contact-tile {
    font-weight: bold;
    color: #3C4C8F;
  }
  
  #msg-box p {
    font-size: 22px;
  }
  
  #contact-form input[type="text"], #contact-form textarea {
    margin-bottom: 15px;
    border-radius: 0;
  }
  
  #contact-form .main-btn {
    width: 120px;
    height: 50px;
  }
  
  #contact-form .main-btn:hover {
    color: #3C4C8F;
  }
  
  /* Copy */
  
  #copy-area {
    background-color: #3C4C8F;
    color: white;
  }
  
  #copy-area .container {
    padding: 10px 0;
    text-align: center;
  }
  
  #copy-area .container p {
    margin-bottom: 0;
  }
  
  #copy-area .container a {
    font-weight: bold;
    color: #444;
  }
  
  #copy-area .container a:hover {
    text-decoration: none;
    color: #3C4C8F;
  }
  #msg-box{
    color: #3C4C8F;
  }
@media (max-width: 990px) {
    .BackNavItem {
      background-color:  rgb(61, 4, 114) !important;
      margin: 0;
      margin-top: 2%;
      width: 30%;
      
    }
    .BackNavItemHome{
      background-color:  rgb(61, 4, 114) !important;
      border-radius: 20px;
      margin: 0;
      margin-top: 2%;
      width: 30%;
    }
    .nav-item{
      display: flex;
      justify-content: center;
    }
    .nav-link:hover{
      color: #3C4C8F !important;
    }
  }
  @media(max-width:990px)
  { /* futuro da empresa*/
    .containerFuturoEmpresa{
      display: inline-table;
    }
    .ConteudoBannerFuturoImagem{
      width: 100%;
      padding: 3%;
    }
    
    .ConteudoBannerFuturoEmpresa{
      width: 100%;
      text-align: center;
    }
    .ConteudoBannerFuturoEmpresa h1{
      margin: 20px;
      
    }
    .bannerConfig {
      height: 470px;
    }
    .btn-position{
      margin: 0;
      margin-bottom: 5%;
    }
    .buttonParticipar{
      margin: 0;
    }
    .FundoFuturoEmpresa{
      display: flex;
      justify-content: center;
    }
    /* quem somos*/
    .containerQuemSomos{
      display: inline-table;
    }
    .ContainerQuemSomosText{
      width: 100%;
    }
    .ContainerQuemSomosImagem{
      width: 100%;
    }
  }